/** {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body-content {
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 40px;
}*/
.footer {
    width: 100%;
    background: #000000;
    display: block;
}
.inner-footer {
    width:  95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.footer h2 {
    margin: 10px 0;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border {
    height: 2px;
    width: 40px;
    background: yellow;
}
.footer ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.footer ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
ul a:hover {
    color: yellow;
}
.footer ul li {
    margin: 10px 0;
    height: 25px;
}
li i {
    margin-right: 20px;
}
.social-media {
    width: 100%;
    color: #fff;
    text-align: center;
}
.social-media a {
    text-decoration: none;
}
.social-media i {
    height: 15px;
    width: 15px;
    margin:  20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: none;
    
    transition: 0.3s;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
.social-media i:hover {
    background: rgb(84, 150, 209);
}
.footer-bottom {
    padding: 10px;
    background: gray;
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .footer-items {
        width: 100%;
    }
}